# Ignore artifacts
dist
build
Pods
target
.cxx

# Ignore the pnpm lockfile (managed by pnpm, not formatted by Prettier)
pnpm-lock.yaml

# Ignore hermes
packages/host/hermes
packages/node-addon-examples/examples
packages/node-tests/node
packages/node-tests/tests
packages/node-tests/*.generated.js
